body {
    font-family: Arial, Helvetica, sans-serif;
  }
  #header {
    background-color: #52403A;
  }
    header {
    background-color: #A78980;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    color: white;
  }
  section {
    display: flex;
  }
  #nav {
    background-color: #80BDAD;
    padding-left: 10%;
  }
  nav a {
    text-decoration: none;
    margin-right: 100px;
    margin-left: 10px;
}
#section {
    background-color: #80BDAD;
    padding: 10px;
}
  article {
    background-color: #708A83;
    padding: 10px;
    line-height: 1.5;
    width: 500px;
  }
  aside {
    display: grid;
  }
  #foot {
    background-color: #A78980;
  }
  footer {
    background-color: #52403A;
    padding: 10px 10px 10px 10px;
    text-align: center;
    color: white;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
ol {
  float: left;
  list-style: none;
  background-color: #80BDAD;
  padding-top: 100px;
  padding-left: 0px;
  padding-bottom: 336px;
  margin-top: 0px;
  line-height: 2;
  margin-bottom: 0px;
}
  body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }  
  a.one:link {color:#0000ff;}
  a.one:visited {color:#0000ff;}
  a.one:hover {color:#ff0000;}
  
  #nav {
    width: 90%;
    text-align: center;
}
#section {
    width: 95%;
}
